/* Estilos del Header */
header {
	background: var(--color_primary);
	box-shadow: var(--shadow_elevation_medium);
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

/* Part1 = Menu hamburguesa de opciones */
/* Botón Hamburguesa */

.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  order: 1;
}

.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
  margin-left: 6px;
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
  margin-left: 6px;
}

.no-scroll {
  overflow: hidden;
}

/* Links del boton hamburguesa */

.nav__links {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 54px;
  right: 0;
  display: grid;
  place-items: center;
  clip-path: circle(0% at top left);
  transition: clip-path 0.4s;
  background-color: var(--color_primary);
}

.nav__link {
  text-decoration: none;
  color: var(--color_secondary);
  font-size: var(--tamano_links_header);
}

.nav__links--open {
  clip-path: circle(150% at top left);
}

.nav__link:hover {
  color: var(--color_tertiary);
}

.boton_menu {
  width: 30px;
}

/* Part2 = Logo + Nombre de la empresa */
.part1, .part2, .part3 {
  min-width: 6vw;  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.part2 a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empresa_container {
  color: var(--color_title);
  font-size: var(--tamano_nombre_empresa);
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
  width: 100%;
  padding-left: 4px;
}

.logo-header { 
  margin-right: 5px; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.logo-header-img {
  height: calc(var(--tamano_nombre_empresa) - 5px);
}

/* Part3 = Usuario */
