/* Estilos del header */
@import './header.css';

/* Estilos del Footer */
@import 'footer.css';



/* Aqui se define los colores o valores principales. */
:root {
  /**
   * [color_primary es color principal de la pagina como para 
   * los fondos o zonas de relevancia ]
   */
  --color_primary: #0A4F2E;

  /**
   * [color_title Es para los titulos o texto de alta relevancia]
   */
  --color_title: #90B1F9;

  /**
   * [color_text Es para el texto en general]
   */
  --color_text: #FFFFFF;

  /**
   * [color_text_accent Es para el enfasis del texto]
   */
  --color_text_accent: #46EE87;

  /**
   * [tamano_nombre_empresa Es para el tamaño del nombre del logo]
   */
  --tamano_nombre_empresa: 50px;

  /**
   * [tamano_links_header Es el tamaño de los links en el header]
   */
  --tamano_links_header: 25px;

  /**
   * [Estos colores son para las sombras de los objetos en pantalla]
   * Solo utilizar el de --shadow_elevation_medium
   */
  --shadow-color: 210deg 36% 47%;
  --shadow_elevation_medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1.5px 2.9px 4.9px hsl(var(--shadow-color) / 0.27),
    3px 6.1px 10.2px hsl(var(--shadow-color) / 0.55),
    6.3px 12.5px 21px hsl(var(--shadow-color) / 0.82);
}

/**
 * Aplica estilos a toda la pagina
 */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* Estilos del Main */
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}