<header class="header">
  <!-- Part1 = Menu hamburguesa de opciones -->
  <div class="part1" id="icon-menu">
    <div class="bars__menu">
      <span class="line1__bars-menu"></span>
      <span class="line2__bars-menu"></span>
      <span class="line3__bars-menu"></span>
    </div>
    <nav class="nav__links">
      <a href="index_inicio.html" class="nav__link">Inicio</a>
      <a href="index.html" class="nav__link">Artículos</a>
      <a href="index_Contac.html" class="nav__link">Contactos</a>
    </nav>
  </div>

  <!-- Part2 = Logo + Nombre de la empresa -->
  <div class="part2">
    <a href="{{ url_for('home') }}" id="logo" style="height: 100%"> </a>
  </div>

  <!-- Part3 = Usuario -->
  <div class="part3">
    <!-- 
  <span id="iconUser">
  </span>
  <div id="login_container"></div>
 -->
  </div>
</header>
