{% extends "layout.html" %}
<!-- Declaro de donde trae la plantilla -->

{% block content %}

<h2> Aqui cargare el contenido para ofrecer del home</h2>

<a href="{{ url_for('about') }}">IR a About</a>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Cum reiciendis natus dignissimos nemo ipsa quisquam quaerat iusto atque quod in temporibus voluptatum distinctio id a, soluta, consequatur, ducimus, quasi sed!</p>

<br>
<h2>Fin.</h2>
{% endblock%}