{% extends "layout.html" %}
<!-- Declaro de donde trae la plantilla -->

{% block content %}
<div class="home">
  <h1 class="tituloHome">
    Cursos asincrónicos de MasterPath para aprendizajes tecnologicos
  </h1>

  <h2>Tu ip es: {{ user_ip }}</h2>

  <h3 class="descripcionHome">
    Ve los detalles de los cursos y adquiere el que mas te guste o que sea afin
    a tu ambito laboral, o por memamente hobbie.
  </h3>

  <h3 class="subtituloHome">Cursos:</h3>
  <div class="cards_list"></div>
</div>
{% endblock%}
