<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi pagina</title>
    <link rel="icon" type="image/x-icon" id="favicon" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    {% include "header.html" %}

    <!-- Main o contenido principal -->
    <div class="main">{% block content %} {% endblock%}</div>

    {% include "footer.html" %}
  </body>
</html>
